/* @charset "UTF-8";
@import url("https://fonts.googleapis.com/css2? family= Baile+Guión & family= Josefin+Sans & family= Poppins:wght@200 & family= Roboto:wght@100 & family= Shadows+Into+Light & family= Square+Peg & display=swap");
 */
* {
    padding: 0;
    margin: 0;
}

.fondo_transparente {
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.226);
    position: absolute;
    height: 100vh;
    width: 100%;
    display: none;
}

.modal {
    background: linear-gradient(0deg, white 70%, rgb(55, 128, 211) 30%);
    width: 600px;
    height: 300px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 30px;

}

.modal_titulo {
    color: white;
    font-size: 40px;
}

.modal_mensaje {
    padding: 10px 30px;
}

.modal_botones {
    width: 100%;
    background: white;
    border-top: white 1px;
    padding-top: 20px;
    display: flex;
    justify-content: space-evenly;
}

.boton {
    background: white;
    padding: 8px 30px;
    color: rgb(55, 128, 211);
    text-decoration: none;
    border-radius: 25px;
    border: 1px solid rgb(55, 128, 211)
}

.boton:hover {
    background: rgb(55, 128, 211);
    color: white;
}

footer {
    color: white;
    background-color: rgb(55, 128, 211);
    margin-bottom: 0px;
    bottom: 0px;
    height: 85px;
    background-size: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

.direcciones {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

footer h3 {
    padding: 5px;
    margin: 1px;
    font-size: 13px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

footer h4 {
    font-size: 12px;
    font-style: italic;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.iconos {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

i {
    color: whitesmoke;
    font-size: 25px;
    margin: 5px;
}

i:hover {
    color: gray;
}

h1 {
    visibility: hidden;
}

h2 {
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-weight: bold;
}

.btn {
    background: white;
    color: rgb(55, 128, 211);
    border-color:  rgb(55, 128, 211);
}
.btn:hover {
    background: rgb(55, 128, 211);
    color: white;
}